@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: #FDF6E4;
}

body {
    /* Minimum 16x, and grows more slowly
    (half the rate of screen growth) */
    font-size: calc(16px + 0.5vw) !important;
    /* Line-height based on font-size,
    with addition viewport-relative growth */
    line-height: calc(1em + 0.5vw) !important;
    font-family: Roboto, Arial, Helvetica, sans-serif !important;
    background-color: #FDF6E4 !important;
    color: #564A29 !important;
    letter-spacing: 0.75px !important;
    padding: 0px !important;
    margin: 0em auto !important;
    width: 100% !important;
}

.container {
    font-size: 1em;
    background-color: #FDF6E4;
    padding: 0em !important;
    margin: 0em auto 1em !important;
    max-width: 1000px !important;
    width: 95% !important;
}

div.flash-messages {
    margin: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 200;
    color: #E91E63;
}

div.banner {
    margin: 0 1em 1em;
    padding: 0;
}

.banner h2 {
    font-size: 1.3em;
    max-width: 500px;
    margin: 0 auto;
}

.banner {
    text-align: center;
    background-color: #FDF6E4;
    color: #564A29;
    font-weight: 600;
    letter-spacing: 1.3px;
}

.flex-wrapper {
    margin: 0 1em;
}

.flex-container {
    max-width: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#toggle {
    text-align: center;
    margin: 0 15px 0 0;
}

#toggle input {
    width: auto;
}

#toggle label {
    font-size: 0.8em;
}

.api-link {
    text-align: right;
}

.api-link a {
    font-size: 1em;
    font-weight: 700;
}

.api-link a,
.api-link a:hover,
.api-link a:active,
.api-link a:focus,
.api-link a:active:hover {
    color: #9012fe;
    text-decoration: none;
}

.api-link a:hover,
.api-link a:active,
.api-link a:focus,
.api-link a:active:hover {
    text-decoration: underline;
}

.row {
    margin: 0.5em 1em 1em;
}

.card {
    border: 1px solid #564A29;
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0.5em 1em;
    background-color: #D3CBB8;
}

#login .card,
#registration .card {
    max-width: 500px;
    margin: 0 auto;
}

#login p,
#registration p {
    margin: 0.5em 0 0.75em;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
}

#login .buttons,
#registration .buttons {
    margin: 1em 0 0 0;
}

#submit {
    max-width: 145px;
}

.card input,
.card select {
    color: #564A29;
    width: 100%;
}

form {
    background-color: #D3CBB8;
    width: 100%;
    border-radius: 5px;
}

div.form-group {
    height: 100%;
}

div.buttons {
    height: auto;
}

div.form-group,
div.buttons {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

div.buttons {
    text-align: center;
}

.form-group label {
    display: block;
    color: #B0851C;
    font-weight: 300;
    font-size: 0.85em;
    margin: 5px 0;
}

#text-fields .form-group label {
    display: block;
}

.form-group input,
.form-group select {
    width: 100%;
}

#username,
#password {
    height: 34px;
    margin-bottom: 10px;
}

.form-control {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    margin: 4px 0 15px;
    width: 100%;
}

button.btn-default,
button.btn-primary,
input[type=submit] {
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.9px;
    color: #FDF6E4;
    border: 1px solid #B0851C;
    background-color: #B0851C;
    margin: 7px;
    padding: 7px 10px;
    border-radius: 5px;
    min-width: 100px;
}

button.btn-default:hover,
button.btn-default:active,
button.btn-default:active:hover,
button.btn-default:focus,
button.btn-primary:hover,
button.btn-primary:active,
button.btn-primary:active:hover,
button.btn-primary:focus,
input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:active:hover,
input[type=submit]:focus {
    color: #FDF6E4;
    border: 1px solid #CCAC5E;
    border-color: #CCAC5E;
    background-color: #CCAC5E;
}

label.btn-default,
label.btn-primary {
    font-size: 1.1em;
    font-weight: 400;
    color: #B0851C;
    border: 1px solid #B0851C;
    background-color: #FDF6E4;
    border-radius: 5px;
}

label.btn-default:hover,
label.btn-default:active,
label.btn-default.active,
label.btn.btn-default.active,
label.btn-default:focus,
label.btn-default:active:hover,
label.btn-default.active:hover,
label.btn-default.active:focus {
    color: #FDF6E4;
    border: 1px solid #B0851C;
    border-color: #B0851C;
    background-color: #B0851C;
}

.hide-element {
    display: none;
}

.show-element {
    display: block;
}

#auth-result-wrapper {
    margin: 0 1em;
}

div#auth-error,
div#auth-success {
    max-width: 500px;
    text-align: center;
    background-color: #FDF6E4;
    margin: 0 auto;
    padding: 0;
}

div#auth-error {
    color: #E91E63;
}

div#auth-success {
    color: #52c222;
    font-size: 0.85em;
}

#auth-success p.api-link {
    margin: 1em 0;
    text-align: center;
}

#auth-success a,
#auth-success a:hover,
#auth-success a:active,
#auth-success a:focus,
#auth-success a:active:hover {
    color: #9012fe;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

#auth-success a:hover,
#auth-success a:active,
#auth-success a:focus,
#auth-success a:active:hover {
    text-decoration: underline;
}

#auth-error-type,
#auth-success-type {
    display: block;
    width: max-content;
    font-weight: 900;
    font-size: 1.4em;
    line-height: 1.2em;
    padding: 5px 10px;
    margin: 0 auto;
}

#auth-success-type {
    border: 3px solid #52b129;
}

#auth-error-type {
    border: 3px solid #E91E63;
}

#auth-error-message,
#auth-success-message {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    margin: 1em 0 0;
}

div.responsive {
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    margin: 0.5em 0;
    padding: 0;
}

#auth-token {
    font-family: "Roboto Mono", "Menlo";
    font-size: 0.65em;
    font-weight: 400;
    letter-spacing: 0.2px;
    text-align: left;
    word-break: break-all;
    word-wrap: normal;
    color: #564A29;
    border: 1px solid #564A29;
    background: #D3CBB8;
    border-radius: 4px;
    width: auto;
    margin: 0 auto;
    padding: 5px 10px;
}

#auth-token code {
    background: none;
}

@media screen and (max-width: 767px) {
    div.banner {
        margin: 0 1em 0.7em;
    }
    .banner h2 {
        font-size: 1em;
        max-width: 400px
    }
    .flex-container {
        max-width: 400px;
    }
    #toggle {
        margin: 0 0 5px 0;
    }
    .card,
    div#auth-error,
    div#auth-success {
        max-width: 400px;
    }
    #toggle label {
        font-size: 0.65em;
    }
    #toggle .btn {
        padding: 4px 8px;
    }
    .api-link a {
        font-size: 0.8em;
    }
    #login p,
    #registration p {
        font-size: 0.9em;
        max-width: 400px
    }
}

@media screen and (max-width: 400px) {
    .flex-container {
        font-size: 0.8em;
    }
    .banner h2 {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 325px) {
    .flex-container {
        flex-flow: row wrap;
        justify-content: center;
    }
    #toggle {
        margin: 0 10px 5px;
    }
    .banner h2 {
        font-size: 0.8em;
    }
}